{% extends 'base.html' %}
{% block content %}
<section class="hero reveal">
  <h1>I am a <span>Designer</span></h1>
  <p>I'm Granth Yadav, a Data Scientist with 1 year of experience turning data into actionable insights. I specialize in machine learning, predictive modeling, and statistical analysis to solve complex business problems. I love working on projects that combine creativity and data‑driven decision‑making.</p>
<br>
<br>
<br>
<br>
<br>
<br>
  <a href="{{ url_for('home') }}" class="btn">View Portfolio</a>
</section>
{% endblock %}
